.sectionFive { height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(../../../public/assets/events-background.jpg);
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.sectionFive .swiper {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 20%;
  left: 10%;
}

.sectionFive .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.permbajtjaFive{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.permbajtjaFive .pershkrimiFive{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.permbajtjaFive .pershkrimiFive h3{
    color: #cda45e;
}

.pershkrimiFive p{
    width: 75%;
}

.permbajtjaFive img{
    width: 40%;
    height: 400px;
    margin-left: 70px;
}

.sectionFive h1{
    color: #cda45e;
    text-align: center;
    padding-top: 40px;
}


.swiper-button-next, .swiper-button-prev{
    color: #cda45e;
    font-weight: 600;
}